#contact .header h1{
    font-weight: 700;
    line-height: 48px;
}

#contact .header h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 124.02%;
    color: #636161;
}

#contact .header h1::first-letter,
#contact .header h5::first-letter{
    text-transform: uppercase;
}

#contact .form-control {
    padding: 1rem;
    background: #E7E7E7;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    margin-bottom: 20px;
    color: #999999;
}

#contact .form-control:focus{
    color: #212529;
}

#contact textarea {
    resize: none;
}

#contact .get-involved-btn{
    font-weight: 700;
    font-size: 20px;
    line-height: 124.02%;
    background:  var(--footer-primary-color);
    /* background:  #004C4A; */
    width: 70%;
    padding: 1rem 2rem;
    color: var(--primary-text-color);
}