.what-they-are-saying .mySwiper {
    width: 100%;
}

@media(min-width: 992px) {
    .what-they-are-saying .mySwiper {
        width: 70%;
    }
}

.testimonial-item .content {
    border-left: 3px solid var(--primary-color);
    padding-left: 30px;
    cursor: grab;
}

.testimonial-item .img.col-3 {
    width: 210px!important;
}

.testimonial-item .img {
    width: 100%;
    height: 210px;
    /* background: url(../../../images/testimonials-content/testimonials-1.jpg); */
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: auto;
    border: 4px solid #fff;
    border-radius: 100%;
}

@media(max-width: 992px) {
    .testimonial-item .content{
        width: 100%;
    }

    .testimonial-item .img{
        margin: 0;
        margin-top: 10px;
    }
}

.testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--primary-color);
    font-family: sans-serif;
}

.testimonial-item h4 {
    font-size: 14px;
    color: #6c757d;
    margin: 0 0 10px 0;
    font-family: sans-serif;
}

.testimonial-item p {
    font-style: italic;
}
