#Programs .hero-main-bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#Programs .programs-hero .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
}

#Programs .programs-bg{
    height: 600px;
    background: url(../../images/programs-content/programs-bg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#Programs .text-content h1{
    font-family: "DM Sans", sans-serif;
    color: #111013;
    font-weight: 700;
}

#Programs .text-content h1 span{
    color: var(--primary-color);
}

#Programs .text-content p{
    font-size: 17px;
    font-weight: 450;
}

@media(max-width: 1300px) {
    #Programs .text-content p{
        font-size: 18px;
    }
}

@media(max-width: 414px) {
    #Programs .programs-bg{
        height: 400px;
    }
}

/*-----------------------------
    # What to Expect
----------------------------*/
#Programs .what-to-expect{
    padding: 2rem 0;
}

.what-to-expect .header {
    color: var(--primary-color);
    margin: 1.4rem 0;
    margin-bottom: 2rem;
}

.what-to-expect .content-row{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.what-to-expect .content-row .w-card{
    overflow: hidden;
    min-height: 500px;
    max-height: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(204, 204, 204, 0.295);
}

.what-to-expect .w-card:nth-child(1) .img-bg,
.what-to-expect .w-card:nth-child(2) .img-bg,
.what-to-expect .w-card:nth-child(3) .img-bg{
    height: 350px!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

.what-to-expect .w-card:nth-child(1) .img-bg{
    background: url(../../images/programs-content/expect-1.jpg);
}

.what-to-expect .w-card:nth-child(2) .img-bg{
    background: url(../../images/programs-content/expect-2.jpg);
}

.what-to-expect .w-card:nth-child(3) .img-bg{
    background: url(../../images/programs-content/expect-3.jpg);
}


/*-----------------------------
    # Responsiveness
----------------------------*/
@media(min-width: 1300px){
    #Programs .text-content h1{
        font-size: 70px;
        line-height: 70px;
    }
}

@media(min-width: 992px) {
    #Programs .hero-main-bg{
        background-position: bottom;
    }
}

@media(max-width: 992px) {
    #Programs .hero-main-bg{
        background-position: none;
    }

    #Programs .programs-hero .row{
        grid-template-columns: repeat(1, 1fr);
    }

    .what-to-expect .content-row{
        grid-template-columns: repeat(2, 1fr);
    }

    .what-to-expect .w-card:nth-child(1) .img-bg,
    .what-to-expect .w-card:nth-child(2) .img-bg,
    .what-to-expect .w-card:nth-child(3) .img-bg{
        height: 250px;
    }

    .what-to-expect .w-card h4{
        margin-top: 1rem;
    }

    .what-to-expect .w-card p{
        padding: 0 5px;
    }
}

@media(max-width: 767px) {
    .what-to-expect .content-row {
        padding: 0 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}