.GetInvolved {
    padding: 2rem;
    position: relative;
}

.GetInvolved .container {
    margin-top: 5rem;
    position: relative;
}

.GetInvolved .header{
    margin-bottom: 3rem;
}

.GetInvolved .header h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
    color: #121E2B;
}

.GetInvolved .header small{
    font-weight: 400;
    line-height: 17px;
    color: #333333;
}

.GetInvolved .row{
    column-gap: 6rem;
}

.GetInvolved .intro {
    height: 700px;
    color: var(--primary-text-color);
    align-items: start;
    padding-left: 5rem;
    background: url(../../images/get_involved_content/get-involved-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
}

.GetInvolved .intro h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 58px;
}

@media(min-width: 1200px){
    .GetInvolved .intro h1{
        font-size: 48px;
    }
}

.GetInvolved .GI-form{
    align-items: start;
    justify-content: start;
}

.GetInvolved .GI-form h6{
    color: #333333;
}

/*-------------------------------------
    # Responsiveness
-------------------------------------*/

@media(max-width: 992px) {
    .GetInvolved {
        background: url(../../images/main-bg-light.svg), #ffffff7a;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    .GetInvolved .header {
        text-align: center!important;
    }

    .GetInvolved .container>.row {
        flex-direction: column;
    }

    .GetInvolved .intro {
        display: none;
    }

    .GetInvolved .GI-form{
        width: 80%;
    }

    .GetInvolved .get-involved-btn {
        background: var(--primary-color);
    }
}

@media(max-width: 567px) {
    .GetInvolved .GI-form{
        width: 100%;
    }
}