.training-cont {
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(156, 156, 156, 0.25);
    border-radius: 20px;
}

@media(max-width: 767px) {
    .training-cont{
        cursor: grab;
    }
}

.training-programs .swiper-pagination{
    margin-top: 15px;
}

@media(min-width: 992px) {
    .training-programs .swiper-pagination{
        display: none;
    }
}

@media(max-width: 767px) {
    .training-programs .swiper-button-prev,
    .training-programs .swiper-button-next {
        display: none!important;
    }
}

.training-cont .training-bg {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.training-cont:nth-child(1) .training-bg{
    width: 100%;
    background: url(../../../images/home-content/teens.png)!important;
    background-size: cover;
    background-position:top;
}
.training-cont:nth-child(2) .training-bg{
    background: url(../../../images/home-content/LIfe\ Legacy.png)!important;
    background-size: cover;
    background-position:top;
}
.training-cont:nth-child(3) .training-bg{
    background: url(../../../images/home-content/coding\ summer.png)!important;
    background-size: cover;
    background-position:top;
}

.training-cont h6 {
    font-size: 16px;
    color: #202020;
}

.training-cont p {
    font-size: 14px;
    color: #999999;
}

.training-cont .register-btn {
    font-size: 17px;
    padding: 9px 12px;
    width: 100%;
    background: var(--primary-color);
    color: var(--primary-text-color);
    border: 2px solid var(--primary-color);
}

.training-cont .register-btn:hover {
    background: var(--primary-text-color);
    color: var(--primary-color);
}