body{
    overflow-wrap: break-word;
}

#Comments {
    padding: 2rem;
}

#Comments .header h1, 
#Comments .header h2, 
#Comments .header h3, 
#Comments .header h4, 
#Comments .header h5, 
#Comments .header h6, 
#Comments .header p, 
#Comments .header small{
    font-family: "DM Sans", sans-serif;
    color: #111013;
}

#Comments .header h2{
    font-weight: bold;
    margin-bottom: 5px;
}

#Comments small{
    font-size: 16px;
}

#Comments form {
    padding:  1rem 0;
}

#Comments form .flex-group {
    justify-content: space-between;
}

#Comments form .form-control{
    padding: 1rem 1rem;
    background-color: rgba(150, 144, 162, 0.08);
    border: none;
    margin-bottom: 20px;
}

#Comments form .flex-group .form-control{
    width: 49%;
}

#Comments form .post-btn{
    padding: 0.45rem 1.3rem;
    font-weight: 600;
    color: var(--primary-text-color);
    background: var(--primary-color);
}