#our-programs{
    padding: 2rem;
}

@media(max-width: 767px) {
    #our-programs{
        padding: 2rem 0;
    }
}

#our-programs .split-row{
    justify-content: space-between;
}

@media(max-width: 992px) {
    #our-programs .split-row{
        flex-direction: column;
        justify-content: center;
    }
}

@media(min-width: 768px) {
    #our-programs .header.col-md-4{
        width: 28%;
    }

    /* #our-programs #programs-row.col-md-8 {
        width: 70%;
    } */
}

#our-programs .header h4{
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

#our-programs .header p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 171.52%;
}

@media(min-width: 991px) {
    #our-programs .split-row .programs-box:nth-child(2).col-md-6{
        margin-left: 15px;
        margin-bottom: 15px;
        width: 48%;
    }

    #our-programs .split-row .programs-box:nth-child(3).col-md-6{
        margin-right: 17px;
        margin-top: 15px;
        width: 48%;
    }

    /* #our-programs #programs-row{
        align-items: center;
    } */
}

@media(max-width: 1399px) {
    #our-programs .split-row{
        flex-direction: column;
    }
    #our-programs .split-row>div{
        width: 100%!important;
    }
}


#our-programs #programs-row{
    justify-content: center;
}

#our-programs .split-row .programs-box{
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 210px;
    background: linear-gradient(144.26deg, #00533F 13.92%, #003F30 92.94%);
}

@media(max-width: 767px) {
    #our-programs .split-row .programs-box{
        margin-bottom: 15px;
        box-shadow: 0px 5.73662px 11.4732px rgba(156, 156, 156, 0.25);
    }
}

/* Green Boxes */
#our-programs .split-row .programs-box:nth-child(1),
#our-programs .split-row .programs-box:nth-child(4){
    color: #FFFFFF!important;
}

/* White Boxes */
#our-programs .split-row .programs-box:nth-child(2),
#our-programs .split-row .programs-box:nth-child(3){
    background: #FFFFFF;
    color: #2A6000!important;
    box-shadow: 0px 5.73662px 11.4732px rgba(156, 156, 156, 0.25);
}

#our-programs .programs-box h4{
    margin-top: 10px;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
}

#our-programs .split-row .programs-box:nth-child(2) p,
#our-programs .split-row .programs-box:nth-child(3) p{
    padding: 10px 0;
    color: #000000;
}

#our-programs .programs-box p{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

#our-programs .programs-box a{
    margin-top: 15px;
    display: block;
    font-weight: 700;
    font-size: 13px;
    color: #2A6000;
}

#our-programs .split-row .programs-box:nth-child(1) a,
#our-programs .split-row .programs-box:nth-child(4) a{
    color: #fff;
}