#contact {
    padding: 2rem 0;
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/main-bg-light.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#contact .container{
    margin-top: 5.5rem;
    position: relative;
}

#contact .container .row{
    column-gap: 6rem;
}

#contact .contact-content{
    padding: 2rem;
    padding-top: 5rem;
    height: 700px;
    justify-content: flex-start;
    background: url(../../images/contact_icons/contact-details-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

@media(max-width: 992px){
    #contact .col.contact-content{
        width: 800px!important;
    }
}

#contact .contact-content h1{
    font-weight: 700;
    line-height: 48px;
    color: #BCC1C6;
}

@media(min-width: 992px) {
    #contact .contact-content h1{
        font-size: 50px;
    }

}

#contact .details{
    width: 100%;
    margin-top: 50px;
}

#contact .details>div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#contact .details>div{
    width: 100%;
}

#contact .details>div:nth-child(1) img{
    height: 30px;
}

#contact .details>div:nth-child(2) img{
    height: 18px;
}

#contact .details>div:nth-child(3) img{
    height: 22px;
}

#contact .details>div:nth-child(4) img{
    height: 22px;
}

#contact .details small{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BCC1C6;
}

#contact .details .socials{
    margin-top: 3rem;
}

/*---------------------------
    # Responsiveness
--------------------------*/
@media(max-width: 992px) {
    #contact .container{
        margin-top: 2rem;
    }
    
    #contact .details .col-1{
        margin-right: 1rem!important;
    }
    
    #contact .container .row{
        flex-direction: column;
        row-gap: 5rem;
    }

    #contact .contact-content{
        order: 1!important;
    }
}